@font-face {
    font-family: p22;
    src: url("Assets/Fonts/Heading Font.otf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
    transition: .2s
}

:root {
    --dark-alt: #000;
    --dark: #111;
    --dark-light: #222;
    --light: #FDF5DF;
    --white: #FFFFFF;
    --primary: #01E5B4;
    --watermark: rgba(255, 196, 31, 0.1);
    --transparent-white: rgba(255, 255, 255, 0.05);
    --gray: #777;
    --light-gray: #f5f5f5;
    --fz-4: 0.25rem;
    --fz-8: 0.5rem;
    --fz-12: 0.75rem;
    --fz-18: 1.1rem;
    --fz-20: 1.25rem;
    --fz-32: 2rem;
    --fz-52: 3rem;
    --fz-80: 5rem;
    --side-padding: 5rem
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden
}

main {
    min-height: calc(100vh - 75px - 380px)
}

img {
    pointer-events: none
}

img.loading-bg {
    background-color: var(--light)
}

h1,
h2,
h4 {
    font-family: p22, Figtree, serif
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48
}

.material-icons-outlined.material-icons-outlined {
    font-size: inherit
}

.button-flex {
    display: flex;
    gap: var(--fz-12);
    align-items: center;
    justify-content: center
}

.under-construction {
    display: grid;
    place-items: center;
    font-size: var(--fz-52);
    color: var(--dark);
    font-weight: 700
}

main:has(>.under-construction) {
    display: flex;
    align-items: center;
    justify-content: center
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-alt);
    color: var(--light);
    padding: 0 var(--fz-52);
    font-size: var(--fz-20);
    height: 75px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000
}

nav img {
    height: 100%
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

nav ul li {
    height: 100%
}

nav ul li a {
    padding: 0 var(--fz-20);
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: var(--light)
}

nav ul li a:hover {
    background-color: var(--dark-light);
    color: var(--light)
}

nav ul li.current {
    border-bottom: var(--light) 2px solid
}

nav button {
    font-size: var(--fz-20);
    padding: 0 var(--fz-20);
    border: none;
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
    font-weight: 700
}

nav button:hover {
    background-color: var(--primary);
    color: var(--dark-alt)
}

h1 {
    font-size: calc(var(--fz-80) * 1.25)
}

h2 {
    font-size: var(--fz-80)
}

.container h2 {
    text-align: center
}

.container.no-padding-top {
    padding-top: 0
}

h5 {
    font-size: var(--fz-32);
    font-weight: lighter;
    margin-top: var(--fz-8)
}

p {
    font-size: var(--fz-20);
    font-weight: 400;
    line-height: 150%
}

button {
    border: none
}

button.primary {
    background-color: var(--primary);
    color: var(--dark)
}

button.primary:hover {
    background-color: var(--light);
    color: var(--dark)
}

button.secondary {
    background-color: transparent;
    color: var(--primary);
    border: var(--primary) 2px solid
}

button.secondary:hover {
    background-color: var(--light);
    color: var(--dark);
    border: var(--light) 2px solid
}

.container {
    width: 100vw;
    position: relative;
    color: var(--white);
    padding: var(--side-padding)
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--fz-32);
    margin-top: calc(var(--side-padding)/ 2)
}

.card {
    padding: var(--fz-32);
    background-color: var(--transparent-white);
    border-radius: var(--fz-12);
    color: var(--white)
}

.card h4 {
    font-size: var(--fz-52);
    margin: var(--fz-12) 0
}

.card>p {
    margin-top: var(--fz-20)
}

a.work {
    text-decoration: none
}

footer {
    display: flex;
    justify-content: center;
    gap: var(--side-padding);
    color: var(--white);
    background-color: var(--dark-alt);
    padding: var(--fz-52);
    padding-top: calc(var(--fz-52) - var(--fz-20))
}

.footer-about p {
    padding: 0 var(--fz-20);
    font-size: var(--fz-20);
    width: 400px
}

.footer-contact {
    font-size: calc(var(--fz-20) * .8);
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding-top: var(--fz-20)
}

.footer-contact h3 {
    font-size: var(--fz-32)
}

.footer-contact ul {
    list-style: none;
    width: fit-content
}

.footer-contact ul li {
    margin: var(--fz-12) 0
}

.footer-contact ul li a {
    display: flex;
    align-items: center
}

.footer-contact ul li a span.material-icons-outlined {
    font-size: calc(var(--fz-20) * .8) !important
}

.footer-contact button {
    margin-top: var(--fz-20);
    padding: var(--fz-12) var(--fz-32);
    cursor: pointer;
    font-size: var(--fz-20);
    border-radius: var(--fz-52);
    border: none;
    background-color: var(--primary);
    color: var(--dark-alt);
    font-weight: 700
}

.footer-contact button:hover {
    background-color: var(--light)
}

.footer-contact ul li a {
    text-decoration: none;
    color: inherit
}

.ending {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-size: var(--fz-20);
    padding: var(--fz-32);
    background-color: var(--dark);
    text-align: center
}

@media (prefers-reduced-motion) {
    .marquee__content {
        -webkit-animation-play-state: paused;
        animation-play-state: paused
    }

    .watermark {
        opacity: 0;
        pointer-events: none
    }

    .work:hover {
        scale: 1;
        filter: saturate(0)
    }
}

.scroll-to-top {
    position: fixed;
    bottom: var(--fz-52);
    right: var(--fz-52);
    padding: var(--fz-12);
    border-radius: var(--fz-52);
    color: var(--gray);
    background-color: var(--light-gray);
    cursor: pointer
}

.scroll-to-top:hover {
    background-color: var(--gray);
    color: var(--white)
}

.hamburger {
    display: none;
    font-size: var(--fz-32)
}

.hidden-button {
    display: none;
    pointer-events: none
}

button.play-audio.play-audio {
    border: none;
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 1rem;
    margin: 0;
    border-radius: 0 0 0 var(--fz-20);
    background-color: var(--dark-alt)
}

button.play-audio img {
    fill: var(--light);
    height: var(--fz-32)
}

button.play-audio.play-audio:hover {
    border: none;
    background-color: var(--dark-light)
}

@media (max-width:1100px) {
    :root {
        font-size: 16px;
        --fz-4: 0.4rem;
        --fz-8: 0.75rem;
        --fz-12: 1rem;
        --fz-18: 1.1rem;
        --fz-20: 1.25rem;
        --fz-32: 1.75rem;
        --fz-52: 2.5rem;
        --fz-80: 4rem;
        --side-padding: 3rem
    }

    .watermark {
        display: none
    }
}

@media (max-width:700px) {
    html {
        scroll-padding-top: 75px
    }

    :root {
        font-size: 12px;
        --fz-4: 0.4rem;
        --fz-8: 0.75rem;
        --fz-12: 1rem;
        --fz-18: 1.1rem;
        --fz-20: 1.25rem;
        --fz-32: 1.75rem;
        --fz-52: 2.5rem;
        --fz-80: 5rem;
        --side-padding: 3rem
    }

    footer {
        flex-direction: column;
        padding: var(--side-padding)
    }

    .footer-about p {
        width: 100%
    }

    .footer-contact {
        padding: var(--fz-20);
        font-size: var(--fz-20)
    }

    nav {
        z-index: 10000;
        background-color: var(--dark-alt)
    }

    nav ul {
        display: flex;
        position: absolute;
        top: 100%;
        flex-direction: column;
        left: 0;
        width: 100%;
        background-color: var(--dark-alt);
        transform: translateY(20%);
        opacity: 0;
        pointer-events: none;
        padding: 1rem 0;
        height: calc(100vh - 75px);
        font-size: var(--fz-32)
    }

    nav .hamburger {
        display: block;
        color: var(--white)
    }

    nav button.button-flex {
        display: none
    }

    nav.active ul {
        z-index: 1000;
        transform: translateY(0);
        opacity: 1;
        pointer-events: all
    }

    nav ul li {
        height: auto;
        width: 100%
    }

    nav ul li a {
        height: auto;
        display: block;
        width: 100%;
        padding: 1em;
        text-align: center
    }

    nav .hidden-button {
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        gap: var(--fz-20);
        color: var(--primary);
        position: relative;
        top: 15vh;
        font-weight: 700
    }
}

/* Only for desktop */
@media (min-width:700px) {
    button.play-audio.left {
        left: 0;
        right: auto;
        border-radius: 0 0 var(--fz-20) 0
    }
    html:has(nav.hide) {
        scroll-padding-top: var(--fz-32)
    }
    
    nav.hide {
        top: -75px;
        opacity: .5
    }
}