/* :root{
    --fz-18: 16px;
} */

h4{
    font-size: calc(var(--fz-20) * 1.25);
}

header{
    padding-top: 75px;
    height: 400px;
}

header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details{
    padding: var(--fz-32) 16vw 0 16vw;
    display: flex;
    justify-content: space-between;
    font-size: var(--fz-20);
    gap: var(--fz-32);
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: var(--side-padding);
    padding: var(--side-padding) 16vw;
}

aside{
    height: fit-content;
    position: sticky;
    top: 100px;
}

aside.up{
    top: var(--fz-32);
}

aside a{
    display: block;
    color: var(--gray);
    text-decoration: none;
    font-size: var(--fz-18);
    margin-bottom: calc(var(--fz-18) * 0.75);
}

aside a:hover{
    color: var(--dark-alt);
    text-decoration: underline;
}

*{
    font-family: "Figtree", sans-serif;
}

main h1, h2, h3, h4{
    font-family: "Figtree", sans-serif;
}

main h2{
    font-size: var(--fz-52);
}

main h3{
    font-size: var(--fz-32);
    margin-top: var(--fz-32);
}

.content a{
    /* font-weight: bold; */
    color: var(--gray);
}

.content h2:not(:first-child){
  margin-top: 52px;
}

p{
    margin-top: var(--fz-18);
    font-size: var(--fz-18);
}

p.no-top-margin{
    margin-top: var(--fz-8);
}

p.first:has(input){
    margin-top: var(--fz-32);
}

p.first:has(b input){
    font-size: var(--fz-18);
}

p:has(input){
    font-size: var(--fz-20);
    margin-top: 0;
}

p:has(input) input{
    margin-right: var(--fz-4);
}

p.main-p{
    font-size: var(--fz-20);
}

.content img{
    width: 100%;
    border-radius: var(--fz-4);
}

.content .caption{
    color: var(--gray);
    font-size: calc(var(--fz-18) * 0.9);
    margin-top: calc(var(--fz-18) * 0.5);
}

.callout{
    margin-top: var(--fz-52);
    margin-bottom: var(--fz-20);
    display: flex;
    gap: var(--fz-18);
    background-color: var(--light);
    border-radius: var(--fz-4);
    padding: var(--fz-20);
}

.callout.warning{
    background-color: var(--light-gray);
}

.impact-wrapper{
    border-radius: var(--fz-8);
    /* border: 1px solid var(--dark-alt); */
    background-color: var(--light-gray);
    padding: var(--fz-32);
    margin-top: var(--fz-52);
    text-align: center;
}

.impact-title{
    text-align: center;
}

.impact-container{
    display: flex;
    gap: var(--fz-20);
    justify-content: space-between;
}

.impact{
    text-align: center;
    /* max-width: 200px; */
}

.text-image-container {
    display: flex;
    gap: var(--fz-32);
    margin-top: var(--fz-18);
    /* align-items: center; */
}

.text-image-container > *{
    max-height: 100%;
}

.text-image-container .first{
    margin: 0;
}

.text-image-container .text{
    height: fit-content;
}

blockquote{
    font-weight: bold;
    font-size: var(--fz-32);
    position: relative;
}

figure{
    margin-block: var(--fz-52);
    text-align: left;
    border-left: 5px solid var(--light-gray);
    padding-left: var(--fz-20);
}

a.figma-button{
    font-size: var(--fz-20);
    margin-top: var(--fz-20);
    padding: var(--fz-20) var(--fz-32);
    border-radius: var(--fz-80);
    cursor: pointer;
    background-color: var(--light-gray);
    width: fit-content;
    text-decoration: none;
    color: var(--dark-alt);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--fz-12);
}

.figma-button:hover{
    background-color: #ccc;
    /* color: var(--white); */
}

.figma-button p.caption{
    display: none;
}

.figma-button img{
    height: var(--fz-20);
    margin: 0;
    width: var(--fz-20);
    object-fit: contain;
}

.material-symbols-outlined{
    font-size: inherit;
}



@media (max-width: 700px) {
    .details{
        flex-direction: column;
        align-items: start;
        padding: var(--fz-32) 10vw 0 10vw;
    }

    main{
        grid-template-columns: 1fr;
        padding: 10vw;
        grid-gap: var(--fz-32);
    }

    aside{
        position: static;
    }
    aside a{
        font-size: var(--fz-20);
        margin-bottom: var(--fz-18);
    }

    header{
        height: 250px;
    }

    .text-image-container{
        flex-direction: column;
    }

    .half-width{
        width: 40%;
    }

    .impact-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}